.main_head{
    width: 100%;
    height: 800px;

}

.hockey-background{
    width: 100%;
    height: 500px;
}


li{
   
    border-style: solid;
    background-color: lightsteelblue;
    border-color:red;
    border-width: thin;
    padding: 0.1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    
}

.head-container {
    position: relative;
    z-index: -1;
    
}


.head-text{
    position: absolute;
    bottom: 50%;
    right: 40%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}


.hockey-background-content{
    position: absolute;
    bottom: 50%;
    right: 10%;
    left: 10%;
    background-color: white;
    color: blue;
    padding-left: 20px;
    padding-right: 20px;

}

.hockey-sub-head{
    display: flex;
    justify-content: center;
   
}

.hockey-content{
    display: flex;
    justify-content: flex-end;
    text-align: center;
} 
.access{
    color: black;
    z-index: 1040;
    background-color: white;
}
.access:hover{
    color: white;
}



.resume{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: blanchedalmond;
    font-family: 'Akronim';font-size: 22px;

}

.resume-header{
    display: flex;
    justify-content: center;
}

iframe{
    height: 10cm;
    width: 100%;
}


.profile-container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    background-color: gray;
   
}

#Prof{
    display: flex;
    justify-content: center;
}

.profile {
    width: 350px;
    height: 450px;
}

.intro{
    color: black;
}


.profile-content{
    display: flex;
    /* width: 60%; */
    align-items: center;
    flex-direction: column;
}

.profile-header{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.profile-description{
    display: flex;
    align-self: center;
    justify-self: flex-start;
    padding-right: 10%;
    padding-left: 10%;

} 

body{
    background-color: darkgoldenrod;
}


footer{
    display: flex;
    justify-content: center;
    background-color: gray;
}

.current{
    text-transform: uppercase;
    color: red;
}


.flip {
    height: 199px;
    width: 300px;
    margin: 0 auto;
}
.flip img {
    width: 300px;
    height: auto;
    padding-bottom: 20px;
}
.flip .back {
    background:white;
    color:red;
    font-size: 75%;
    text-align: center;
    padding-bottom: 20px;
}

.UBS-header{
    display: flex;
    justify-content: center;
    color: red;
    background-color: white;
}

.panel p{
    color: red;
}


.accordion {
    display: flex;
    justify-content: center;
    background-color: white;
    color:red;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .ubs-text{
      display: flex;
      justify-content: center;
  }

@media screen and (max-width: 500px) {
    .profile-content {
        background-color: lightsalmon;
    }
}
@media screen and (max-width: 500px) {
    .profile{
        width: 200px;
        height: 400px;
    }
}
@media screen and (max-width: 350px) {
    .hockey-background-content{
        background-color: white;
        color: black;
    }
}
@media screen and (max-width: 350px) {
    .hockey-sub-head{
        background-color: white;
        color: black;
    }
}