.main_head{
    width: 100%;
    height: 800px;

}

li{
   
    border-style: solid;
    background-color: lightsteelblue;
    border-color:red;
    border-width: thin;
    padding: 0.1cm;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    
}

.head-container {
    position: relative;
}

/* Bottom right text */
.head-text{
    position: absolute;
    bottom: 50%;
    right: 50%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.head-nav{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    color: black;


}

.resume{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: blanchedalmond;
    font-family: 'Akronim';font-size: 22px;

}

.resume-header{
    display: flex;
    justify-content: center;
}

iframe{
    height: 10cm;
    width: 100%;
}


.profile-container {
    display: flex;
    flex-direction: row;
    background-color: gray;
   
}

.profile-pic {
    width: 40%;
}

.intro{
    color: black;
}


.profile-content{
    display: flex;
    width: 60%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.profile-header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-description{
    display: flex;
    align-self: center;
    justify-self: flex-start;

} 

body{
    background-color: darkgoldenrod;
}

footer{
    display: flex;
    justify-content: center;
    background-color:grey;
}